@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto&display=swap');

body {
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

margin-top: 100px;
}

form {
  background-color: white;
  width: 40rem;
  margin: auto;
  font-family: 'Cutive Mono', monospace;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.form-group {
  margin: 30px;
}

#artist-label {
  margin-top: 25px;
}

button {
  background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
  margin: 0px 30px 30px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white !important;         
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
 
button:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
  margin: 0px 30px 30px 30px;
}

#artist-info {
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  color: white;
  margin: 30px;
}

#content-container {
  white-space: pre-line;
  font-family: 'Cutive Mono', monospace;
  color: white;
  text-align: center;
  margin: 30px;
}

@media only screen and (max-width: 769px) {
  form {
    background-color: white;
    width: 25rem;
    margin: auto;
    font-family: 'Cutive Mono', monospace;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}
